<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta name="format-detection" content="telephone=no">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">
     
      <%- include('../partials/header.ejs') %>
      <title>Contact</title>

      <link rel="stylesheet" href="/css/contact.css" type="text/css">
   
   
   </head>
   <body >
    <%- include('../partials/navbar.ejs') %>
      
      <div id="tt-pageContent">
      <div class="tt-breadcrumb" style="background-image: url(https://smartdata.tonytemplates.com/electrician-v2/demo3/wp-content/uploads/sites/6/2020/08/breadcrumb_bg.jpg)">
         <div class="container container-lg-fluid">
            <div class="breadcrumb-area">
               <p id="breadcrumbs"><span><span><a href="https://smartdata.tonytemplates.com/electrician-v2/demo3/">Home</a> / <span class="breadcrumb_last" aria-current="page">Contact</span></span></span></p>
            </div>
         </div>
      </div>
      <div class="block">
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-12">
                  <article id="post-14" class="status-publish hentry">
                     <div class="entry-content">
                        <div data-elementor-type="wp-page" data-elementor-id="14" class="elementor elementor-14" data-elementor-settings="[]">
                           <div class="elementor-inner">
                              <div class="elementor-section-wrap">
                                 <section class="elementor-section elementor-top-section elementor-element  elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="824edba" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                                    <div class="elementor-container elementor-column-gap-no">
                                       <div class="elementor-row">
                                          <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b635ea2" data-id="b635ea2" data-element_type="column">
                                             <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                   <div class="elementor-element elementor-element-0eb50e4 elementor-widget elementor-widget-text-editor" data-id="0eb50e4" data-element_type="widget" data-widget_type="text-editor.default">
                                                      <div class="elementor-widget-container">
                                                         <div class="elementor-text-editor elementor-clearfix">
                                                            <div class="mapouter">
                                                               <div class="gmap_canvas"><iframe id="gmap_canvas" class="map-contact" src="https://maps.google.com/maps?q=brooklny&#038;t=&#038;z=13&#038;ie=UTF8&#038;iwloc=&#038;output=embed"></iframe></div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </section>
                                 <section class="elementor-section elementor-top-section elementor-element elementor-element-d184240 elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="d184240" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                                    <div class="elementor-container elementor-column-gap-no">
                                       <div class="elementor-row">
                                          <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e5199d1" data-id="e5199d1" data-element_type="column">
                                             <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                   <div class="elementor-element elementor-element-8facb6e elementor-widget elementor-widget-electrician_contact_info" data-id="8facb6e" data-element_type="widget" data-widget_type="electrician_contact_info.default">
                                                      <div class="elementor-widget-container">
                                                         <div class="section-indent-extra">
                                                            <div class="container container-lg-fluid">
                                                               <div class="section__wrapper02 tt-contact-wrapper">
                                                                  <div class="row justify-content-center">
                                                                     <div class="col-sm-6 col-md-4">
                                                                        <div class="tt-contact">
                                                                           <div class="tt-icon"> <i aria-hidden="true" class=" icon-map-marker"></i></div>
                                                                           <div class="tt-content">
                                                                              <div class="tt-title">Address:</div>
                                                                              <address> Electrician Company<br> 8494 Signal Hill Road Manassas,<br> VA, 20110 </address>
                                                                           </div>
                                                                        </div>
                                                                     </div>
                                                                     <div class="col-sm-6 col-md-4">
                                                                        <div class="tt-contact">
                                                                           <div class="tt-icon"> <i aria-hidden="true" class=" icon-clock-circular-outline-1"></i></div>
                                                                           <div class="tt-content">
                                                                              <div class="tt-title">Work Hours:</div>
                                                                              Mon-Fri 08:00 AM - 05:00 PM<br>Sat-Sun: Emergency only
                                                                           </div>
                                                                        </div>
                                                                     </div>
                                                                     <div class="col-sm-6 col-md-4">
                                                                        <div class="tt-contact">
                                                                           <div class="tt-icon"> <i aria-hidden="true" class=" icon-telephone"></i></div>
                                                                           <div class="tt-content">
                                                                              <div class="tt-title">Phone Numbers:</div>
                                                                              <address> <a href="tel:1(800)7654321">1 (800) 765-43-21 (Appointments)</a> </address>
                                                                              <address> <a href="tel:1(800)7654322">1 (800) 765-43-22 (Office)</a> </address>
                                                                           </div>
                                                                        </div>
                                                                     </div>
                                                                  </div>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </section>
                                 <section class="elementor-section elementor-top-section elementor-element elementor-element-56b8458 elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="56b8458" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                                    <div class="elementor-container elementor-column-gap-no">
                                       <div class="elementor-row">
                                          <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-56c6d90" data-id="56c6d90" data-element_type="column">
                                             <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                   <div class="elementor-element elementor-element-f6a15fe elementor-widget elementor-widget-electrician_contact_form" data-id="f6a15fe" data-element_type="widget" data-widget_type="electrician_contact_form.default">
                                                      <div class="elementor-widget-container">
                                                         <div class="section-indent">
                                                            <div class="container container-md-fluid">
                                                               <div class="section-title max-width-01">
                                                                  <div class="section-title__01">Contact Form</div>
                                                                  <div class="section-title__02">Get In Touch with Us</div>
                                                                  <div class="section-title__03"> Are you stumped by a home wiring project or problem? Fill out the form with the details of your situation and we can come to your aid.</div>
                                                               </div>
                                                               <div class="row justify-content-center">
                                                                  <div class="col-md-8">
                                                                     <div role="form" class="wpcf7" id="wpcf7-f2256-p14-o1" lang="en-US" dir="ltr">
                                                                        <div class="screen-reader-response">
                                                                           <p role="status" aria-live="polite" aria-atomic="true"></p>
                                                                           <ul></ul>
                                                                        </div>
                                                                        <form action="/electrician-v2/demo3/contact/#wpcf7-f2256-p14-o1" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
                                                                           <div style="display: none;"> <input type="hidden" name="_wpcf7" value="2256" /> <input type="hidden" name="_wpcf7_version" value="5.4" /> <input type="hidden" name="_wpcf7_locale" value="en_US" /> <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f2256-p14-o1" /> <input type="hidden" name="_wpcf7_container_post" value="14" /> <input type="hidden" name="_wpcf7_posted_data_hash" value="" /></div>
                                                                           <div class="form-default">
                                                                              <div class="form-group"><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Your Name *" /></span></div>
                                                                              <div class="row">
                                                                                 <div class="col-md-6">
                                                                                    <div class="form-group"><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" aria-required="true" aria-invalid="false" placeholder="Your e-mail address *" /></span></div>
                                                                                 </div>
                                                                                 <div class="col-md-6">
                                                                                    <div class="form-group"><span class="wpcf7-form-control-wrap your-phone"><input type="text" name="your-phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Your phone number" /></span></div>
                                                                                 </div>
                                                                              </div>
                                                                              <div class="form-group"><span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="4" class="wpcf7-form-control wpcf7-textarea form-control" aria-invalid="false" placeholder="Qustion In Detail *"></textarea></span></div>
                                                                              <div class="form-group">
                                                                                 <div class="tt-notes text-center">All Electrical work must be done by a qualified licensed electrician.</div>
                                                                              </div>
                                                                              <div class="form-group text-center"><button class="tt-btn btn__color01 wpcf7-form-control wpcf7-submit" type="submit"><span class="icon-lightning"></span>Contact us</button></div>
                                                                           </div>
                                                                           <div class="wpcf7-response-output" aria-hidden="true"></div>
                                                                        </form>
                                                                     </div>
                                                                  </div>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </section>
                              </div>
                           </div>
                        </div>
                     </div>
                  </article>
               </div>
            </div>
         </div>
      </div>
      <%- include('../partials/footer.ejs') %>

      <script>
          (function($) { "use strict";
      
      $(function() {
          var header = $(".start-style");
          $(window).scroll(function() {    
              var scroll = $(window).scrollTop();
          
              if (scroll >= 10) {
                  header.removeClass('start-style').addClass("scroll-on");
              } else {
                  header.removeClass("scroll-on").addClass('start-style');
              }
          });
      });		
          
      //Animation
      
    })(jQuery); 
    
    
    $(document).ready(function(){
    $(".order-form").click(function(){
      if ($(window).width() <= 767) {
    $(".form-order").toggle("slow");
    }});
     });


     $(document).ready(function(){
        $(".click_1").click(function(){
        $(".text_11").toggle();
            $(".text_12").hide();
            $(".text_13").hide();
        });
        
        $(".click_2").click(function(){
        $(".text_12").toggle();
            $(".text_11").hide();
            $(".text_13").hide();
        });

        $(".click_3").click(function(){
        $(".text_13").toggle();
        $(".text_12").hide();
            $(".text_11").hide();
        });
        });
      </script>
   </body>
</html>
