<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/header.ejs') %>
    <title>Services</title>
    <link href="/css/services.css" rel="stylesheet" type="text/css">
    
</head>
<body>
    
    
    <div class="ser">
        <div class="container">
            <div class="row">
    <%- include('../partials/navbar.ejs') %>
			<div class="col-md-12">
			<p><a href="#">Home</a> / Our Services</p>
	</div>
	</div>
	</div>
</div>

<div class="container mt-5 pb-5">
		<div class="row">
				<div class="col-md-6">
				<div class="sec_1">
				<img src="/images/layout01-img05.jpg">
				</div>
</div>

				<div class="col-md-6">
				<div class="ser_3">
				<p class="font-weight-bold" style="color:#f47629;">our Services</p>
				<h2 class="font-weight-bold text_dark">Responsive & Professional</h2>
				<p class="mt-3 text_lightdark">We go the extra mile on every project. The value we provide clients comes from our level of skill and performance, as well as our knowledge and professionalism. Rest assured, we put the same level of energy into every project we take on.</p>
							<p class="font-weight-bold  text_dark">Call us today</p>
							<h3 class="font-weight-bold" style="color:#f47629;"><i class="fas fa-phone-alt" style="font-size:18px;"></i> 1-(800)-765-43-21</h3>
									<p  style="color:#937b7b;">We’re available 24/7, 365 days a year.</p>
				</div>
</div>
</div>
</div>

<div class="container mt-5">
         <div class="row">
            <div class="col-lg-12 text-center my-2">
               <h2 class="font-weight-bold text_dark">What We Offer</h2>
            </div>
         </div>
         <div class="portfolio-menu mt-2 mb-4">
            <ul>
               <li class="btn btn-outline-dark active" data-filter="*">All</li>
               <li class="btn btn-outline-dark" data-filter=".gts">Commercialservices</li>
               <li class="btn btn-outline-dark" data-filter=".lap">Industrial services</li>
               <li class="btn btn-outline-dark text" data-filter=".selfie">Residentialservices</li>
            </ul>
         </div>
         <div class="portfolio-item row">
            <div class="item selfie col-lg-4 col-md-6 ">
        <img src="/images/obj-img01.jpg" width="100%">
		<div class="tab_text">
		<h4 class="text_dark font-weight-bold">Surge Protection</h4>
		<p class="text_lightdark">An electrical surge can happen for a number of reasons, including lightning strikes.</p>
		 <p class=" mor"> <a href="#" >More info</a> <i class="fas fa-caret-right"></i></p>
		</div>
            </div>
          
            <div class="item gts col-lg-4 col-md-6 ">
        <img src="/images/obj-img01.jpg" width="100%">
		<div class="tab_text">
		<h4 class="text_dark font-weight-bold">Surge Protection</h4>
		<p class="text_lightdark">An electrical surge can happen for a number of reasons, including lightning strikes.</p>
		 <p class=" mor"> <a href="#" >More info</a> <i class="fas fa-caret-right"></i></p>
		</div>
            </div>
			
			<%- include('../partials/login-signup.ejs') %>
       
			
			 <div class="item lap col-lg-4 col-md-6 ">
        <img src="/images/obj-img01.jpg" width="100%">
		<div class="tab_text">
		<h4 class="text_dark font-weight-bold">Surge Protection</h4>
		<p class="text_lightdark">An electrical surge can happen for a number of reasons, including lightning strikes.</p>
		 <p class=" mor"> <a href="#" >More info</a> <i class="fas fa-caret-right"></i></p>
		</div>
            </div>
			
			    <div class="item selfie col-lg-4 col-md-6 ">
        <img src="/images/obj-img01.jpg" width="100%">
		<div class="tab_text">
		<h4 class="text_dark font-weight-bold">Surge Protection</h4>
		<p class="text_lightdark">An electrical surge can happen for a number of reasons, including lightning strikes.</p>
		 <p class=" mor"> <a href="#" >More info</a> <i class="fas fa-caret-right"></i></p>
		</div>
            </div>
          
            <div class="item gts col-lg-4 col-md-6 ">
        <img src="/images/obj-img01.jpg" width="100%">
		<div class="tab_text">
		<h4 class="text_dark font-weight-bold">Surge Protection</h4>
		<p class="text_lightdark">An electrical surge can happen for a number of reasons, including lightning strikes.</p>
		 <p class=" mor"> <a href="#" >More info</a> <i class="fas fa-caret-right"></i></p>
		</div>
            </div>
			
	
       
			
			 <div class="item lap col-lg-4 col-md-6 ">
        <img src="/images/obj-img01.jpg" width="100%">
		<div class="tab_text">
		<h4 class="text_dark font-weight-bold">Surge Protection</h4>
		<p class="text_lightdark">An electrical surge can happen for a number of reasons, including lightning strikes.</p>
		 <p class=" mor"> <a href="#" >More info</a> <i class="fas fa-caret-right"></i></p>
		</div>
            </div>
			
         </div>
		 <div class="text-center">
       <a class="btn  btn_members " class="nav-link" href="#">Schedule for Serives</a>
         </div>
      </div>
	  
	  
	  <div class="container mt-5 top_12" style="padding-bottom:150px;">
	  <div class="row">
	  <div class="col-md-7 order-sm-12">
					<img src="/images/layout01-img06.jpg" width="100%">
	  
	  </div>
				<div class="col-md-5 ">
				
				<div class="list_ser">
			<p class="font-weight-bold"  style="color:#f47629;">Why us?</p>
			<h2 class="font-weight-bold text_dark">Our Electricians are:</h2>
			<ul class="tt-list01 lil">
			<li>Fully screened and background checked for your peace of mind</li>
			<li>We don’t hire anyone we wouldn’t hire to work inside of our own homes.</li>
			<li>Neat, clean and uniformed for safety and security</li>
			<li>Knowledgeable, experienced and skilled</li>
			<li>Rigorously trained in customer service</li>
			<li>Fully licensed, bonded and insured</li>
			<li>Friendly, helpful, and reliable.</li>
			
			</ul>
	  </div>
	  </div>

	  </div>
	  </div>
	  
	  <%- include('../partials/footer.ejs') %>
	<script>

        // $('.portfolio-item').isotope({
        //  	itemSelector: '.item',
        //  	layoutMode: 'fitRows'
        //  });
         $('.portfolio-menu ul li').click(function(){
         	$('.portfolio-menu ul li').removeClass('active');
         	$(this).addClass('active');
         	
         	var selector = $(this).attr('data-filter');
         	$('.portfolio-item').isotope({
         		filter:selector
         	});
         	return  false;
         });
         $(document).ready(function() {
         var popup_btn = $('.popup-btn');
         popup_btn.magnificPopup({
         type : 'image',
         gallery : {
         	enabled : true
         }
         });
         });

</script>
</body>
</html>