<link rel="stylesheet" href="/css/footer.css" type="text/css">

<div  class="footer_bo">
    <div class="f-form">
  <div class="f-form__label">Subscribe to Our Newsletter</div>
  <div class="f-form__input"><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" aria-required="true" aria-invalid="false" placeholder="Your e-mail address"></span>
  </div>
  <div class="f-form__btn">
       <a class="btn  btn_members_1 " class="nav-link" href="#">Subscribe</a>
  </div>
</div>
    </div>
<footer class="footer_main">
    <div class="container">
    <div class="row">
          <div class="col-md-4">
          <div>
          <h2 class="text-light">Logo</h2>
          </div>
          <br>
          <br>
          <br>
          <div class="row">
              <div class="col-md-6">
          <ul class="tt-list01 lil">
          <li class="text-light">Home</li>
          <li class="text-light">Services</li>
          <li class="text-light">About</li>
          <li class="text-light">Prices</li>

              </div>
          </ul>
          <div class="col-md-6">
              <ul class="tt-list01 lil">
                      <li class="text-light">Faq</li>
                      <li class="text-light">Gallery</li>
          <li class="text-light">Shop</li>
          <li class="text-light">Contacts</li>
                  </ul>
                  </div>	
                  </div>
    </div>
    
        <div class="col-md-4">
      <p style="color:#bbbdc3;">Our experienced electricians are highly trained in all aspects of electrical service, from office lighting and security systems to emergency repair.</p>
      
          <i class="fas fa-map-marker-alt" style="color:#f47629;"></i> <span style="color:#bbbdc3;">8494 Signal Hill Road Manassas,
VA, 20110</span>
<br><br>
<i class="far fa-clock"  style="color:#f47629;"></i> <span style="color:#bbbdc3;">Mon-Fri 08:00 AM - 05:00 PM<br><br>
</span>

<i class="fas fa-phone-alt"  style="color:#f47629;"></i> <span style="color:#bbbdc3;">1 (800) 765-43-21
</span>
    </div>
    
        <div class="col-md-4">
       <iframe data-aos="zoom-in"  data-aos-duration="1500" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11880.492291371422!2d12.4922309!3d41.8902102!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x28f1c82e908503c4!2sColosseo!5e0!3m2!1sit!2sit!4v1524815927977" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    </div>
    </footer>